body {
  background-color: #050505;
  color: #fcfcfc;
}


.code-pic {
  width: 200px;
  border: 5px solid white;
  padding: 5px;
  margin: 5px;
  margin-left: 145px;
}

.title {
  text-align: center;
  color: #f8f7f7;
  border: #fafafa solid 5px;
  border-radius: 30px;
  font-family: monospace;
  font-size: 60 px;
}

h2{
  text-align: center;
}

button1 {
  width: 20px;
  border: none;
  color: #e30d0d;
  padding:16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

button1 {
  background-color: white;
  color: black;
  border: 2px solid #04AA6D;
}

button1:hover {
  background-color: #04AA6D;
  color: white;
}

button1{
  margin: auto;
  display: flex;
  justify-content: center;
}

button2 {
  width: 20px;
  border: none;
  color: #e30d0d;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

button2 {
  background-color: white;
  color: black;
  border: 2px solid #ed020e;
}

button2:hover {
  background-color: #fd0851;
  color: white;
}

button2 {
  margin: auto;
  display: flex;
  justify-content: center;
}

button1 {
  padding: 20px;
  background-color: #eff5ef;
  transition: transform .2s; /* Animation */
  width: 20px;
  margin: 0 auto;
}

button1:hover {
  transform: scale(1.5);
}


button2 {
  padding: 20px;
  background-color: #eff5ef;
  transition: transform .2s; /* Animation */
  width: 20px;
  margin: 0 auto;
  }

button2:hover {
  transform: scale(1.5);
}

